# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual envs
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Dados / outputs
data/
*.db
*.sqlite
*.mp4
*.avi
*.csv
*.log

# Ignorar todos os dados privados
data/private/

# Por segurança extra: ignorar tudo na pasta data...
data/*

# ...mas permitir exemplos (se quiseres ter 1-2 ficheiros de demo públicos)
!data/example/
!data/example/.gitkeep
